<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Acortador_Web_App.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Acortador" asp-action="Index">Go&Use</a>
            </div>
            <div class=" navbar-nav collapse d-sm-inline-flex justify-content-between w-100">
                <ul class="navbar-nav flex-grow-1 text-decoration-none justify-content-end">
                    @if (Context.Session.GetString("isAdmin") == "True")
                    {
                        <li class="nav-item ">
                            <a class="nav-link text-dark text-decoration-none" asp-controller="Usuario" asp-action="PanelAcortadores">Panel del Administrador</a>
                        </li>
                    }
                    @if(Context.Session.GetString("user") == null)
                    {
                        <li class="nav-item ">
                            <a class="nav-link text-dark text-decoration-none" asp-controller="Usuario" asp-action="IniciarSesion">Iniciar Sesión</a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link text-dark text-decoration-none" asp-controller="Usuario" asp-action="Registrarse">Registrarse</a>
                        </li>
                    }else{
                        <li class="nav-item ">
                            <a class="nav-link text-dark text-decoration-none" asp-controller="Usuario" asp-action="Perfil">Perfil</a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link text-dark text-decoration-none" asp-controller="Usuario" asp-action="CerrarSesion">Cerrar Sesión</a>
                        </li>
                    }
                </ul>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
