html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.List-Enlace{
    text-align:center;
    list-style:none;
    display:grid;
    width:100%;
    grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
    gap:20px;
}

.List-Enlace li{
    display:flex;
    flex-direction:column;
}

.List-Enlace li form{
    margin-top:auto;
}